name: build

on:
  release:
    types: [created]
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Install dependencies
        run: dotnet restore src\Newtonsoft.Json.TryJsonConvert.csproj

      - name: Build
        run: dotnet build src\Newtonsoft.Json.TryJsonConvert.csproj --configuration Release --no-restore

      - name: Pack
        run: dotnet pack src\Newtonsoft.Json.TryJsonConvert.csproj -c Release --no-build -o out

      - name: Push NuGet package
        # run:  dotnet nuget push "out\*.nupkg" -k ${{secrets.NUGET_AUTH_TOKEN}} --source https://api.nuget.org/v3/index.json
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: out/*.nupkg
